@mixin collage-shadow() {
    filter: drop-shadow(6px 6px 0 var(--bg))
    drop-shadow(-6px -6px 0 var(--bg));
}

.collage {
    position: relative;

    svg {
        fill: var(--text);
        @include transition(fill);
        line {
            stroke: var(--text);
            @include transition(stroke);
        }
    }

    figure {
        position: absolute;
        z-index: 2;
        @include transition(filter);

        img {
            display: block;
            margin: auto;
            @include img-fluid();
        }
    }

    &-type-1 {
        &> div {
            position: relative;
        }



        margin-bottom: 2rem;
        padding-bottom: 1.125rem;
        @include media-breakpoint-up('sm') {
            margin-bottom: 3rem;
            padding-bottom: 0;
            height: 100%;
        }
        @include media-breakpoint-up('lg') {
            margin-bottom: 0;
        }

        figure {
            background: var(--accent);
            border: 8px solid var(--bg);
            @include transition(filter, background-color, border-color);

            @include media-breakpoint-up('md') {
                border-width: 16px;
            }

            &:first-of-type {
                left: 0;
                top: 0;
                width: calc(600 / 900 * 100% - 6px);
                height: calc(560 / 644 * 100% - 6px);
                // clip-path: polygon(0% 0%, 100% 0%, 100% 45%, 70% 45%, 70% 100%, 0% 100%);
            }

            &:last-of-type {
                right: 0;
                bottom: 0;
                width: calc((600 * .3 + 300 - 10) / 900 * 100%);
                height: calc((644 - 560 * .45 - 10) / 644 * 100%);
            }

            img {
                @include cover();
            }
        }

        span {
            display: flex;
            --size: 6.25rem;
            position: absolute;
            left: 0;
            bottom: 0;
            height: var(--size);
            width: var(--size);
            border-radius: 50%;
            padding: calc(var(--size) * .1);
            background: var(--accent);
            //transform: translate(0, .875rem);
            z-index: 5;
            @include transition(background-color);

            img {
                display: block;
                margin: auto;
                @include img-fluid();
            }

            @include media-breakpoint-up('sm') {
                --size: 7.5rem;
            }

            @include media-breakpoint-up('md') {
                --size: 11.5rem;
                left: 100%;
                top: auto;
                bottom: 0;
                transform: translate(-2.5rem, 0);
            }

            @include media-breakpoint-up('lg') {
                --size: 11.5rem;
                left: 0;
                top: auto;
                bottom: 0;
                transform: unset;
            }

            @include media-breakpoint-up('xl') {
                --size: 15.625rem;
                top: calc(560 / 644 * 100% - 22px);
                left: 16px;
                bottom: auto;
                transform: translate(-50%, -50%);
            }
        }
    }

    &-type-2 {
        max-width: 464px;
        margin: 0 auto;

        figure {
            box-sizing: content-box;
            background: var(--accent);
            border: 6px solid var(--bg);
            @include transition(filter, background-color, border-color);

            &:first-of-type {
                left: calc(97 / 464 * 100%);
                top: calc(16 / 372 * 100%);
                width: calc(200 / 464 * 100%);
                z-index: 4;
            }

            &:nth-of-type(2) {
                left: calc(268 / 464 * 100%);
                top: calc(114 / 372 * 100%);
                width: calc(179 / 464 * 100%);
                z-index: 3;
            }

            &:nth-of-type(3) {
                left: calc(49 / 464 * 100%);
                top: calc(176 / 372 * 100%);
                width: calc(262 / 464 * 100%);
                z-index: 2;
            }
        }
    }

    &-type-3 {

        figure {
            border: 8px solid var(--bg);
            @include transition(filter, background-color, border-color);

            @include media-breakpoint-up('lg') {
                border-width: 16px;
            }

            &:nth-of-type(1) {
                left: 0;
                top: 0;
                width: calc(205 / 288 * 100%);
                z-index: 1;

                @include media-breakpoint-up('md') {
                    top: calc(94 / 920 * 100%);
                    width: calc(600 / 1800 * 100%);
                }
            }

            &:nth-of-type(2) {
                right: calc(23 / 288 * 100%);
                top: calc(46 / 532 * 100%);
                width: calc(73 / 288 * 100%);
                z-index: 2;

                @include media-breakpoint-up('md') {
                    right: calc(52 / 1800 * 100%);
                    top: 0;
                    width: calc(256 / 1800 * 100%);
                }
            }

            &:nth-of-type(3) {
                left: 50%;
                top: 50%;
                width: calc(260 / 288 * 100%);
                transform: translate(-50%, -50%);
                z-index: 3;

                @include media-breakpoint-up('md') {
                    width: calc(790 / 1800 * 100%);
                }
            }

            &:nth-of-type(4) {
                left: 0;
                bottom: calc(46 / 532 * 100%);
                width: calc(86 / 288 * 100%);
                z-index: 5;

                @include media-breakpoint-up('md') {
                    left: calc(80 / 1800 * 100%);
                    bottom: calc(30 / 920 * 100%);
                    width: calc(256 / 1800 * 100%);
                }
            }

            &:nth-of-type(5) {
                right: 0;
                bottom: 0;
                width: calc(220 / 288 * 100%);
                z-index: 4;

                @include media-breakpoint-up('md') {
                    width: calc(600 / 1800 * 100%);
                }
            }
        }
    }

    &-type-4 {
        overflow: hidden;
        display: inline-flex;
        position: relative;

        ////height: 109px;
        padding: 17px 0 24px;
        margin-top: 0;
        @include media-breakpoint-up('lg') {
            margin-top: 77px;
        }
        @include media-breakpoint-up('xl') {
            margin-top: 47px;
        }
        @include media-breakpoint-up('xxl') {
            margin-top: 83px;
        }

        svg {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;

        }

        .img-wrapper {
            display: inline-flex;
            position: relative;
            align-items: center;

            figure {
                position: static;
                display: flex;
                background: var(--accent);
                border-radius: 50%;
                border: 4px solid var(--bg);
                padding: 6px;


                @include media-breakpoint-up('md') {
                    width: 106px;
                    height: 106px;
                }
                @include media-breakpoint-up('xl') {
                    width: 128px;
                    height: 128px;
                }

                img {
                    margin: auto;
                }

                &:nth-child(1) {
                    z-index: 5;
                }

                &:nth-child(2) {
                    z-index: 4;
                    margin-left: -14px;
                }

                &:nth-child(3) {
                    z-index: 3;
                }

                &:nth-child(4) {
                    z-index: 2;
                }

                &:nth-child(2), &:nth-child(3), &:nth-child(4) {
                    margin-left: -14px;
                }
            }
        }
    }
}

[data-theme='dark'] {

    .collage {

        figure {

            img[src$='.svg'] {
                filter: brightness(0) invert(1);
            }
        }

        &-type-1 {

            span {

                img {
                    filter: brightness(0) invert(1);
                }
            }
        }
    }
}