.industries {
    padding: 0;

    @include media-breakpoint-up('lg') {
        padding: 3.75rem 0;
    }

    @include media-breakpoint-up('xl') {
        padding: 5rem 0;
    }

    &-item {
        position: relative;
        padding: 3.125rem 0;

        @include media-breakpoint-up('md') {
            padding: 2.5rem 0;
        }

        @include media-breakpoint-up('lg') {
            padding: 3.75rem 0;
        }

        @include media-breakpoint-up('xl') {
            padding: 5rem 0;
        }

        figure {
            position: relative;
            color: var(--text);
            width: 10rem;
            margin: 0 auto 1rem;
            @include transition(color, background-color);

            @include media-breakpoint-up('md') {
                display: inline-block;
                vertical-align: middle;
                width: 12.5rem;
                margin: 0 2.5rem 0 0;
            }

            @include media-breakpoint-up('lg') {
                display: block;
                width: 100%;
                margin: 0 0 2rem;

                & + hr {
                    margin-bottom: 1.25rem;
                }
            }

            @include media-breakpoint-up('xl') {
                margin-bottom: 2.5rem;

                & + hr {
                    margin-bottom: 2rem;
                }
            }

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                border-radius: 50%;
                background-color: var(--accent);
                z-index: 1;
                transition: background-color var(--transition), transform .3s ease-in-out;
            }
            
            img,
            svg {
                position: relative;
                display: block;
                width: 100%;
                height: auto;
                z-index: 2;
            }
        }

        div {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);

            svg {
                width: 2.125rem;
                height: 3.5rem;
            }
        }

        &.h4 {
            a {
                border: none;

                span {
                    border-bottom: 3px solid var(--red);
                    @include transition(border-color);
                }

                &:hover {

                    span {
                        border-color: var(--red-hover);
                    }

                    figure {

                        &:before {
                            transform: scale(.9);
                        }
                    }
                }
            }
        }
    }

    .slider &-item {
        padding: 0;

        a {
            border: none;
        }

        figure {
            margin-bottom: 1.5rem;
            width: 100%;
        }

        hr {
            margin-bottom: 1rem;
        }
    }
}