.video-btn {
    display: block;
    position: relative;
    height: 18rem;
    width: 18rem;
    border-radius: 50%;
    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,.3);
        z-index: 1;
    }

    @include media-breakpoint-up('md') {
        width: 6.25rem;
        height: 6.25rem;
    }

    @include media-breakpoint-up('lg') {
        width: 10rem;
        height: 10rem;
    }

    @include media-breakpoint-up('xl') {
        width: 15.625rem;
        height: 15.625rem;
    }

    span {
        display: flex;
        position: absolute;
        left: 50%;
        top: 50%;
        height: 6.25rem;
        width: 6.25rem;
        color: white;
        border-radius: 50%;
        z-index: 2;
        transform: translate(-50%, -50%);

        @include media-breakpoint-up('md') {
            width: 5rem;
            height: 5rem;
        }

        @include media-breakpoint-up('lg') {
            width: 8rem;
            height: 8rem;
        }

        @include media-breakpoint-up('xl') {
            width: 12.5rem;
            height: 12.5rem;
        }

        i {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            border-radius: 50%;
            border: 2px solid white;
        }

        svg {
            position: relative;
            height: 100%;
            width: 100%;
            z-index: 2;
        }
    }
}