@keyframes zoom {
    0% {
        transform: scale(.8);
    }
    70% {
        transform: scale(1.1);
    }
    100% {
        transform: none;
    }
}

@keyframes video-zoom {
    0% {
        transform: scale(.9);
    }
    75% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes video-zoom-reverse {
    0% {
        transform: scale(1);
    }
    75% {
        transform: scale(.85);
    }
    100% {
        transform: scale(.9);
    }
}


.animate {
    transform: rotate(3deg) scaleY(.9) translateY(50px);
    opacity: 0;
    transition-property: transform,opacity;
    transition-duration: 1.5s;
    transition-delay: var(--animation-delay, 0s);
    transition-timing-function: cubic-bezier(.19,.91,.36,.99);
    animation-delay: var(--animation-delay, 0s);
    animation-timing-function: ease-in-out;

    &-images {

        figure {
            overflow: hidden;

            img {
                transform: scale(1.1);
            }
        }
    }

    &.zoom {
        animation-name: zoom;
        animation-play-state: paused;
        animation-duration: .5s;
    }

    &.in-viewport {
        transform: none;
        opacity: 1;
        animation-play-state: running;
    }

    &-images.in-viewport {

        figure {

            img {
                transform: none;
                transition-property: transform;
                transition-delay: var(--animation-delay, 0s);
                transition-duration: 1.5s;
            }
        }
    }
}

.video-play,
.video-btn {

    span {

        i {
            animation-name: video-zoom;
            animation-fill-mode: forwards;
            animation-duration: .35s;
        }
    }

    &:hover {

        span {

            i {
                animation-name: video-zoom-reverse;
            }
        }
    }
}