.btn {
    font-family: 'Manrope', sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 4rem;
    width: 100%;
    padding: 1.25rem 2.5rem;
    border: none;
    font-size: .875rem;
    font-weight: 600;
    line-height: 1em;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: transparent;
    transition: color .3s ease-in-out;
    cursor: pointer;
    z-index: 1;

    &:hover {
        color: white;
    }

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: var(--red);
        border: 2px solid var(--red);
        transition: background-color .3s ease-in-out,
                    border-color .3s ease-in-out,
                    transform .3s ease-in-out;
        z-index: -1;
    }
    
    @include media-breakpoint-up('sm') {
        max-width: 200px;
    }

    @include media-breakpoint-up('xl') {
        font-size: 1rem;
        min-height: 5.625rem;
        padding: 1.25rem 3.75rem;
        max-width: 300px;
    }

    &.xs {
        min-height: 2.75rem;
        padding: .75rem 1.5rem;
        width: auto;

        @include media-breakpoint-up('xl') {
            min-height: 3.25rem;
            padding: .875rem 2.75rem;
        }
    }

    &.sm {
        max-width: 200px;

        @include media-breakpoint-up('xl') {
            max-width: 240px;
            min-height: 4.5rem;
        }
    }

    &.disabled,
    &[disabled] {
        color: var(--btn-disabled-color) !important;
        pointer-events: none;

        &:before {
            border-color: var(--btn-disabled-bg) !important;
            background: var(--btn-disabled-bg) !important;
        }
    }
}

@include media-breakpoint-up('sm') {

    .desktop .btn:hover {
        color: var(--text);

        &:before {
            background-color: transparent;
            transform: scale(1.1);
        }
    }
}

[data-theme='dark'] .btn {

    &:hover {
        color: white;
    }
}