.blocker {
    padding: 4.375rem 0;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: var(--bg);
    z-index: 99;
	visibility: hidden;
	opacity: 0;
	transition: opacity .4s ease-in-out,
				visibility .4s ease-in-out;
	z-index: 99;
	text-align: center;

	&:before{
		content: "";
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -0.05em;
	}

	.modal {
		display: inline-block;
		vertical-align: middle;
	}
}

body.show-modal {
	overflow: hidden;
	
	.blocker {
		visibility: visible;
		opacity: 1;
		overflow: auto;
	}
}

.modal {
    display: none;
    width: 100%;
    text-align: left;

    &-icon {

        svg {
            display: block;
            height: 100px;
            width: 100px;
            margin: auto;

            @include media-breakpoint-up('xl') {
                height: 160px;
                width: 160px;
            }
        }
    }

    // &.success,
    // &.fail {
    //     text-align: center;

    //     svg {
    //         margin-bottom: 1.25rem;
    //     }

    //     h3, h4 {
    //         margin: 0;
    //     }

    //     p {
    //         margin: .5rem 0 0;
    //     }

    //     .btn {
    //         min-width: 200px;
    //         margin-top: 2.5rem;
    //     }
    // }

    &-close {
        position: absolute;
        right: 1.25rem;
        top: 1.25rem;
        height: 2rem;
        width: 2rem;
        text-decoration: none;
        color: var(--text);

        &:hover {
            color: var(--red);
        }

        svg {
            display: block;
            height: 100%;
            width: 100%;
        }
    }
}

.admin-bar .blocker {
    top: 46px;
    height: calc(100vh - 46px);

    @media screen and (min-width: 783px) {
        top: 32px;
        height: calc(100vh - 32px);
    }
}